footer {
    background: #F8FAFC;
    padding-top: 60px;
}

.bigtitle {
    font-size: 1.5em;
    padding: 10px 0;
}

.smalltitle {
    font-size: 1em;
    color: #8D448B;
    font-weight: 600;
}

footer img,
.subtitle {
    width: 100%;
    margin: auto;
}

.pictures .pict {
    box-shadow: 0 0 1px rgb(180, 180, 180);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.8s;
}

.hautfooter .container1 .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.hautfooter .container1 .pictures {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding-bottom: 150px;
}

.pict:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.233);
}

.hautfooter .container1 .pictures .subtitle {
    padding: 20px 30px;
    width: 100%;
}

.hautfooter .container1 .pictures .subtitle .description {
    margin-bottom: 20px;
    width: 100%;
}

.left-picture,
.middle-picture,
.right-picture {
    background: #fff;
}

.subtitle .description {
    font-weight: bold;
}

.subtitle .description:hover {
    color: #8D448B;
    cursor: pointer;
}

.commentaires {
    display: flex;
    align-items: center;
    gap: 8px;
    opacity: 0.6;
    cursor: pointer;
}

.piedviolet {
    background: #8D448B;
    padding: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.piedviolet .titlepiedviolet {
    font-size: 20px;
    color: #fff;
    line-height: 32px;
    font-weight: bold;
}

#buttonviolet {
    background: #fff;
    padding: 15px 40px;
    border: none;
    margin: 0 20px;
    border-radius: 2px;
    color: #8D448B;
    font-weight: 600;
    cursor: pointer;
}

#buttonviolet:hover {
    color: #fff;
    background: #2e3260;
    transition: all 0.5s ease-out;
}

.basfooter {
    width: 100%;
    position: relative;
    bottom: 50px;
}

.pied {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.pied .gauche {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2e3260;
}

.pied .gauche #copy {
    opacity: 0.8;
}

.pied .droite {
    display: flex;
    align-items: center;
    gap: 25px;
}

.pied .droite a {
    text-decoration: none;
    color: #2e3260;
}

#copy {
    font-size: 14px;
}

@media screen and (max-width:1200px) {
    .container1 {
        width: 100%;
    }

    .hautfooter .container1 {
        width: 100%;
        margin: auto;
    }

    .container1 .pictures {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .basfooter {
        width: 100%;
    }

    .piedviolet {
        width: 90%;
    }

    .pied {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width:750px) {
    .container1 {
        width: 100%;
    }

    .basfooter {
        width: 100%;
    }

    .piedviolet {
        width: 90%;
    }

    .pied {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 90%;
    }

    .container1 .pictures {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
}